.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.BtnVisitCheck {

    border: 2px solid gray;
    background-color: cornflowerblue;
    cursor: pointer;
    color: white;
    
}
